.profile__info {
  width: fit-content;
  grid-column: 2;
  display: grid;
  column-gap: 18px;
  row-gap: 16px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile__info {
    column-gap: 10px;
    row-gap: 14px;
  }
}
