.profile {
  display: grid;
  grid-template-columns: 120px auto 150px;
  column-gap: 30px;
  padding-block: 36px 46px;
  color: #ffffff;
  transition: .3s ease;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 42px 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
