.profile__edit {
  width: 24px;
  height: 24px;
  display: flex;
  margin-bottom: 8px;
  grid-column: 2;
  grid-row: 1;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  background: none;
  box-sizing: border-box;
  border: #ffffff solid 1px;
  transition: .3s ease;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile__edit {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }
}

.profile__edit:hover {
  opacity: .6;
}
