.card__icon {
  width: 23px;
  background-image: url("../../../images/like-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition:  .3s ease;
}

.card__icon:hover {
 opacity: .5;
}

.card__icon:active {
  opacity: 1;
  background-image: url("../../../images/like-blok.svg");
}

