.profile__name {
  max-width: 100%;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  align-self: flex-end;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: .3s ease;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .profile__name {
    font-size: 22px;
    line-height: 27px;
  }
}
