.form__submit {
  width: 100%;
  height: 50px;
  margin-top: 38px;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  background: #000000;
  border-radius: 2px;
  transition: .3s ease;
}

.form__submit:hover {
  background: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .form__submit {
    font-size: 14px;
    line-height: 17px;
  }
}


